{% extends '::base.html.twig' %}

{% block body -%}
    <div class="titreBus">
        <img width="200" src="{{ asset('bundles/garnettaxibe/images/bus/'~ entity.numero|replace({'A': '', 'B': '','C': ''}) ~ '.png') }}">
        <h1>Detail sur la ligne {{ entity.numero }} </h1>
        <h2>{{ entity.libelle }}</h2>
        <div style="clear: both"></div>
    </div>
    <div>
       <ul style="margin-left: 80px">
           {% for trajet in trajets %}
               <li>{{ trajet['LIBELLE'] }}</li>
           {% endfor %}
       </ul>
    </div>
{% endblock %}
